{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{slide.getTitleSlide()}}</h1>
        <h4 id="subTitle" class="font-weight-light text-center text-lg-left mt-4 mb-0">Choisissez une image à ajouter</h4>
        <hr class="mt-2 mb-5">
        <div id="divAddPicture">
            <img id="imgEdit"/>
            {{ form_start(formEffect, {'action': path('slideAdd', { 'id': slide.id })}) }}
                {{form_row(formEffect.length_effect)}}
                <button type="submit" class="btn btn-primary">Créer</button>
            {{form_end(formEffect)}}
        </div>

        <div class="row text-center text-lg-left gallery">
            {% for picture in pictures %}    
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                        <img id ="{{picture.getId()}}" class="img-fluid img-thumbnail img" src="../../pictures/{{picture.getPathPicture()}}" alt="{{picture.getNamePicture()}}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#imgOrigin').hide();
            $('#divAddPicture').hide();
            $('.img').click(function(){
                $('#picture_effect_picture_id').attr('value',$(this).prop('id'))
                $('#subTitle').html('Veuillez paraméter la <span id="spanStart">zone de départ</span>, la <span id="spanEnd">zone de fin</span> et la durée de l\'effet Ken Burns à appliquer');
                $('#divAddPicture').show();
                $('#imgEdit').css('width','100%');
                $('#imgEdit').prop('src',$(this).prop('src'));
                $('#imgEdit').prop('alt',$(this).prop('alt'));
                $('#imgOrigin').prop('src',$(this).prop('src'));
                $('.gallery').hide();

                var x_start = parseFloat($('#imgEdit').css('width').substring(0, $('#imgEdit').css('width').length-2)*0.05);
                var y_start = parseFloat($('#imgEdit').css('height').substring(0, $('#imgEdit').css('height').length-2)*0.05);
                var w_start = parseFloat($('#imgEdit').css('width').substring(0, $('#imgEdit').css('width').length-2)*0.90);
                var h_start = parseFloat($('#imgEdit').css('height').substring(0, $('#imgEdit').css('height').length-2)*0.90);

                $('#picture_effect_x_start').attr('value',x_start);
                $('#picture_effect_y_start').attr('value',y_start);
                $('#picture_effect_w_start').attr('value',w_start);
                $('#picture_effect_h_start').attr('value',h_start);

                var x_end = parseFloat($('#imgEdit').css('width').substring(0, $('#imgEdit').css('width').length-2)*0.30);
                var y_end = parseFloat($('#imgEdit').css('height').substring(0, $('#imgEdit').css('height').length-2)*0.30);
                var w_end = parseFloat($('#imgEdit').css('width').substring(0, $('#imgEdit').css('width').length-2)*0.40);
                var h_end = parseFloat($('#imgEdit').css('height').substring(0, $('#imgEdit').css('height').length-2)*0.40);
                
                $('#picture_effect_x_end').attr('value',x_end);
                $('#picture_effect_y_end').attr('value',y_end);
                $('#picture_effect_w_end').attr('value',w_end);
                $('#picture_effect_h_end').attr('value',w_end);
                
                const jcrop =  Jcrop.attach('imgEdit');
                const start = Jcrop.Rect.create(x_start,y_start,w_start,h_start);
                const end = Jcrop.Rect.create(x_end,y_end,w_end,h_end);
                jcrop.newWidget(start,{ aspectRatio: start.aspect });
                jcrop.newWidget(end,{ aspectRatio: end.aspect });
                $('.jcrop-widget').each(function(){
                    if($(this).hasClass('active'))
                        $(this).attr('id','zoneEnd');
                    else
                         $(this).attr('id','zoneStart');
                });
                jcrop.listen('crop.update',function(widget,e){
                    const pos = widget.pos ;
                    if(document.getElementsByClassName('jcrop-widget active')[0].id == 'start'){
                        $('#picture_effect_x_start').attr('value',pos.x);
                        $('#picture_effect_y_start').attr('value',pos.y);
                        $('#picture_effect_w_start').attr('value',pos.w);
                        $('#picture_effect_h_start').attr('value',pos.h);
                    }
                    else if(document.getElementsByClassName('jcrop-widget active')[0].id == 'end'){
                        $('#picture_effect_x_end').attr('value',pos.x);
                        $('#picture_effect_y_end').attr('value',pos.y);
                        $('#picture_effect_w_end').attr('value',pos.w);
                        $('#picture_effect_h_end').attr('value',pos.h);
                    }
                });                      
            });

        });
    </script>
{% endblock %}
