{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{slide.getTitleSlide()}}</h1>
        <h4 id="subTitle" class="font-weight-light text-center text-lg-left mt-4 mb-0">Choisissez une image à ajouter</h4>
        <hr class="mt-2 mb-5">
        <div id="divAddPicture" class="col-lg-3 col-md-4 col-6">
            <img id="imgEdit"/>
            <p>
                <button id="valid" type="button" class="btn btn-primary" onclick="validZone();">Valider la zone de départ</button>
            </p>
            {{ form_start(formEffect, {'action': path('slideAdd', { 'id': slide.id })}) }}
                {{form_row(formEffect.length_effect)}}
                <button type="submit" class="btn btn-primary">Créer</button>
            {{form_end(formEffect)}}
        </div>

        <div class="row text-center text-lg-left gallery">
            {% for picture in pictures %}    
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                        <img id ="{{picture.getId()}}" class="img-fluid img-thumbnail img" src="../../pictures/{{picture.getPathPicture()}}" alt="{{picture.getNamePicture()}}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        function validZone(){
            if(!document.getElementById('picture_effect_x_end').value){
                $('#subTitle').text('Veuillez paraméter l\'image afin de l\'ajouter à la slide : ZONE DE FIN et TEMPS DE L\'ANIMATION');
                $('#valid').remove();
                $('#formEffect').show();

            }
        }

        function showCoords(c)
        {
            if(document.getElementById('valid')){
                $('#picture_effect_x_start').attr('value',c.x);
                $('#picture_effect_y_start').attr('value',c.y);
                $('#picture_effect_w_start').attr('value',c.w);
                $('#picture_effect_h_start').attr('value',c.h);
            }
            else{
                $('#picture_effect_x_end').attr('value',c.x);
                $('#picture_effect_y_end').attr('value',c.y);
                $('#picture_effect_w_end').attr('value',c.w);
                $('#picture_effect_h_end').attr('value',c.h);
            }

        };
        $(document).ready(function(){
            $('#divAddPicture').hide();
            $('.img').click(function(){
                $('#picture_effect_picture').attr('value',$(this).prop('id'))
                $('#imgEdit').prop('src',$(this).prop('src'));
                $('#imgEdit').prop('alt',$(this).prop('alt'));
                $('#imgEdit').Jcrop({
                    onSelect: showCoords,
                    onChange: showCoords
                });
                $('#subTitle').text('Veuillez paraméter l\'image afin de l\'ajouter à la slide : ZONE DE DÉPART');
                $('#divAddPicture').show();
                $('#formEffect').hide();
                $('.gallery').hide();            
            });

        });
    </script>
{% endblock %}
