{% extends 'base.html.twig' %}

{% block title %}Slide{% endblock %}
{% block stylesheets %}
    <style>
        {% for picture_effect in picture_effects %}
            #imgContainer{{loop.index}}{
                width:{{picture_effect.w_start}}px;
                height:{{picture_effect.h_start}}px;
                overflow:hidden;
            }
            #img{{loop.index}}{
                animation: kenburns{{loop.index}} {{picture_effect.length_effect}}s infinite;                
            }

            @keyframes kenburns{{loop.index}} {
                0% {
                    opactity: 0;
                }
                5% {
                    opactity: 1;
                }
                95% {
                    transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px,-120px,0px);
                    animation-timing-function: ease-in;
                    opactity: 1;
                }
                100% {
                    transform: scale3d(2,2,2) translate3d(-170px,-100px,0px);
                    opacity:0; 
                }
            }
        {% endfor %}
    </style>
{% endblock %}
{% block body %}
    <div class="container">     
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{slide.getTitleSlide()}}</h1>

		<hr class="mt-2 mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for picture_effect in picture_effects %}
                    {% if loop.first %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% else %}
                         <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for picture_effect in picture_effects %}
                    {% if loop.first %}
                        <div class="carousel-item active" id="imgContainer{{loop.index}}">
                    {% else %}
                        <div class="carousel-item" id="imgContainer{{loop.index}}">
                    {% endif %}
                        <img id="img{{loop.index}}" class="d-block w-100" src="../../pictures/{{picture_effect.path_picture}}" alt="{{picture_effect.name_picture}}"/>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{picture_effect.name_picture}}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" id="btnPrev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" id="btnNext" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>    
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 5000
            });
            $('#btnPrev').click(function(){
                 $('.carousel').carousel('prev');
            });
            $('#btnNext').click(function(){
                 $('.carousel').carousel('next');
            });
        });
    </script>
{% endblock %}
