{% extends 'base.html.twig' %}

{% block title %}Slide{% endblock %}
{% block stylesheets %}
    <style>
        {% for picture_effect in picture_effects %}
           
            #imgContainer{{loop.index}} img{
                position:relative;
                left:-{{picture_effect.x_start}}px;
                top:-{{picture_effect.y_start}}px;
            }

            #img{{loop.index}}{
                overflow:hidden;
                animation: kenburns{{loop.index}} {{picture_effect.length_effect}}s infinite;                
            }

            @keyframes kenburns{{loop.index}} {
                0% {
                    opactity: 0;
                }
                5% {
                    opactity: 1;
                }
                100% {
                    transform: scale3d({{picture_effect.w_start/picture_effect.w_end}},{{picture_effect.h_start/picture_effect.h_end}},0) translate3d({{picture_effect.x_start - picture_effect.x_end}}px,{{picture_effect.y_start - picture_effect.y_end}}px,0px);
                    opacity:1; 
                }
            }
        {% endfor %}
    </style>
{% endblock %}
{% block body %}
    <div class="container">     
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{slide.getTitleSlide()}} <a class="fa fa-trash slideDelete" data-tooltip="show" data-target="{{path('slideShowId', { 'id': slide.getId() })}}" style="float:right" id="{{slide.getId()}}"></a>
        </h1>
        
		<hr class="mt-2 mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for picture_effect in picture_effects %}
                    {% if loop.first %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% else %}
                         <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for picture_effect in picture_effects %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <div id="imgContainer{{loop.index}}">  
                                <img id="img{{loop.index}}" class="d-block w-100" src="../../pictures/{{picture_effect.path_picture}}" alt="{{picture_effect.name_picture}}"/>
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{picture_effect.name_picture}}</h5>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" id="btnPrev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" id="btnNext" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
         <!-- Modal Delete SLide -->
		<div id="modalDeleteSlide" class="modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modalContentDeleteSlide"></div>
			</div>
		</div>
    </div>    
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 5000
            });
            $('#btnPrev').click(function(){
                 $('.carousel').carousel('prev');
            });
            $('#btnNext').click(function(){
                 $('.carousel').carousel('next');
            });
            $('.slideDelete').click(function () {
            $('#modalDeleteSlide').modal();
            // On récupère l'url depuis la propriété "Data-target" de la balise html a
            url = $(this).attr('data-target');
            // on fait un appel ajax vers l'action symfony qui nous renvoie la vue
            $.get(url, function (data) { // on injecte le html dans la modale
            $('#modalContentDeleteSlide').html(data);
            // on ouvre la modale
            $('#modalDeleteSlide').modal('open');
        });
        });
        });
    </script>
{% endblock %}
