<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
           <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
           <link rel="stylesheet" href="{{asset('/css/jquery.Jcrop.min.css')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
        <script src="{{asset('js/jquery.Jcrop.min.js')}}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
